# Username format generated automatically:
#   GEONODE_USER-type-GEONODE_TYPE[-country-GEONODE_COUNTRY]-session-<session_id>-lifetime-<minutes>

GEONODE_USER=
GEONODE_PASS=
# [
#   fr -> proxy.geonode.io, 
#   fr_whitelist -> prod-proxy.geonode.io,
#   us -> us.proxy.geonode.io,
#   sg -> sg.proxy.geonode.io
# ]
GEONODE_GATEWAY=fr        
GEONODE_TYPE=residential  # [residential, datacenter, mix]
GEONODE_COUNTRY=
GEONODE_LIFETIME=10
