# Username format generated automatically:
#   GEONODE_USER-type-GEONODE_TYPE[-country-GEONODE_COUNTRY]-session-<session_id>-lifetime-<minutes>

GEONODE_USER=
GEONODE_PASS=
# [
#   fr -> proxy.geonode.io, 
#   fr_whitelist -> prod-proxy.geonode.io,
#   us -> us.proxy.geonode.io,
#   sg -> sg.proxy.geonode.io
# ]
GEONODE_GATEWAY=fr        
GEONODE_TYPE=residential  # [residential, datacenter, mix]
GEONODE_COUNTRY=
GEONODE_LIFETIME=10

ROBOT_MAX_BATCH_SIZE=30
ROBOT_PAGE_SIZE=100
ROBOT_SESSION_BUDGET=5
ROBOT_WAIT_MIN_S=10
ROBOT_WAIT_MAX_S=15
ROBOT_BAN_COOLDOWN_S=180
ROBOT_CAPTCHA_TIMEOUT_S=20
ROBOT_CAPTCHA_TIMEOUT_FIRST_S=40
ROBOT_CAPTCHA_SAME_SESSION_RETRIES=1
ROBOT_CAPTCHA_FIRST_TOKEN_JITTER_MAX_S=5
ROBOT_API_TOKEN=
